@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peachi";
  src: url("/fonts/Peachi-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Peachi";
  src: url("/fonts/Peachi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Peachi";
  src: url("/fonts/Peachi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Peachi";
  src: url("/fonts/Peachi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Peachi";
  src: url("/fonts/Peachi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Peachi";
  src: url("/fonts/Peachi-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply shadow-inner bg-purple-200;
    cursor: pointer;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-purple-500 border border-purple-700;
    cursor: pointer;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 210 11.1% 3.53%;

    --card: 0 0% 100%;
    --card-foreground: 210 11.1% 3.53%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 11.1% 3.53%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --font-heading: "Peachi", sans-serif;
  }

  .dark {
    --background: 210 11.1% 3.53%;
    --foreground: 0 0% 98%;

    --card: 210 11.1% 3.53%;
    --card-foreground: 0 0% 98%;

    --popover: 210 11.1% 3.53%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

pre.wp-block-code {
  overflow-x: auto;
  counter-reset: line;
  background: rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  border-radius: 8px;
}

pre.wp-block-code code[data-theme*=" "],
pre.wp-block-code code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {

  pre.wp-block-code code[data-theme*=" "],
  pre.wp-block-code code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

pre.wp-block-code code[data-line-numbers] {
  counter-reset: line;
}

pre.wp-block-code code[data-line-numbers]>[data-line]::before {
  counter-increment: line;
  content: counter(line);
}

pre.wp-block-code code {
  counter-reset: line;
}

pre.wp-block-code code>[data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

pre.wp-block-code code[data-line-numbers-max-digits="2"]>[data-line]::before {
  width: 2rem;
}

pre.wp-block-code code[data-line-numbers-max-digits="3"]>[data-line]::before {
  width: 3rem;
}


@keyframes ping {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping-static {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes cloud {
  0% {
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

.animated-cloud {
  animation: cloud 60s linear infinite;
}

@keyframes plane {
  0% {
    transform: translateY(1000px);
  }

  100% {
    transform: translateY(-100px);
  }
}

.animated-plane {
  rotate: -40deg;
  animation: plane 40s linear infinite;
}

.blog p {
  @apply text-lg my-5 leading-8;
}

.blog p a,
.blog a {
  @apply underline text-foreground font-medium;
}

.blog hr {
  opacity: 0.05;
  margin-top: 3.125rem;
}

.blog figure[data-rehype-pretty-code-figure] {
  @apply scrollbar-custom my-5 overflow-hidden overflow-x-auto py-3 pr-4;
  background: rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  border-radius: 7px;
}

.blog ul li {
  @apply text-lg mb-2;
}

.blog ul {
  @apply my-5 pl-8;
}

.blog ol {
  @apply my-5 pl-8 list-decimal;
}

.blog ol li {
  @apply text-lg mb-2;
}

.blog p code {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  white-space-collapse: break-spaces;
  box-decoration-break: clone;
}

.blog li code {
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  white-space-collapse: break-spaces;
  box-decoration-break: clone;
}

.blog h2 {
  @apply text-3xl font-bold mt-12 mb-1 font-title;
}

.blog h3 {
  @apply text-2xl font-semibold mt-12 mb-1 font-title;
}

.blog ul {
  @apply list-disc;
}

@keyframes gradient-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-border {
  animation: gradient-border 3s ease infinite;
  background-size: 200% 200%;
}
